.toystore-gallery {
    .show-img {
        margin-bottom: 20px;
    }

    .list-img {
        max-width: 100px;
        max-height: 100px;

        .thumb-img {
            border: 2px solid transparent;

            &:hover,
            &.active {
                border-color: $success;
            }
        }
    }

    .show-img,
    .list-img .thumb-img {
        border-radius: 5px;
    }
}
