.toystore-pagination {
    margin-top: 50px;

    .pagination {
        .page-item {
            margin: 0 5px;

            .page-link {
                padding: 10px 24px;
                border-radius: 6px;
                color: $primary;
                border-color: $primary;
                box-shadow: none;
                transition: color 0.15s ease-in-out,
                    background-color 0.15s ease-in-out;
            }

            &.active .page-link,
            .page-link:hover {
                color: $white;
                background-color: $primary;
            }
        }
    }
}
