.page-cart {
    .toystore-product-list {
        margin-bottom: 30px;
        
        .wrap-address {
            padding: 24px;
            margin-bottom: 34px;
        }

        .desktop-view {
            .table {
                th:nth-child(1),
                td:nth-child(1) {
                    width: 48%;
                    @include media-breakpoint-down(sm) {
                        width: 40%;
                    }
                }
    
                th:nth-child(2),
                th:nth-child(4),
                td:nth-child(2),
                td:nth-child(4) {
                    width: 13%;
                }
    
                th:nth-child(3),
                td:nth-child(3) {
                    width: 17%;
                    @include media-breakpoint-down(sm) {
                        width: 25%;
                    }
                }
    
                th:nth-child(5),
                td:nth-child(5) {
                    width: 9%;
                }
            }
    
            .table-header {
                margin-bottom: 30px;
            }
    
            .table-body {
                .table {
                    @include media-breakpoint-down(md) {
                        width: 120%;
                    }
    
                    @include media-breakpoint-down(sm) {
                        width: 200%;
                    }
                }
    
                .thumb-img {
                    width: 100px;
                    @include media-breakpoint-up(lg) {
                        width: 160px;
                    }
                }
    
                .title {
                    margin-left: 30px;
                    line-height: 36px;
                }
    
                .title,
                .price {
                    margin-top: 10px;
                }
            }
    
            .table-header,
            .table-body {
                padding: 12px;
            }
        }

        // Mobile
        .mobile-view {
            .title-header {
                @include font-size(16px);
                font-weight: 500;
            }

            .table {
                padding: 16px 24px;

                td:nth-child(1) {
                    width: 35%;
                }
                td:nth-child(2) {
                    width: 50%;
                }
                td:nth-child(3) {
                    width: 15%;
                }

                .title {
                    @include font-size(16px);
                    line-height: 36px;
                }

                .price {
                    color: $primary;
                }
            }

            .link-delete {
                @include font-size(12px);
                text-decoration: underline;
                font-style: italic;
                margin-top: 14px;
                display: block;
            }
        }


        // Desktop & Mobile
        .desktop-view .table-body, .mobile-view .table {
            .wrap-qty {
                display: inline-block;

                .form-control {
                    text-align: center;
                    font-weight: 500;
                }
            }

            .btn-qty {
                padding: 0;
                @include font-size(12px);
            }

            .btn-danger {
                padding: 6px 12px;
            }

            .wrap-qty,
            .btn-qty,
            .btn-danger {
                width: 38px;
                height: 35px;
            }
        }
    }

    .toystore-total {
        .wrap-total {
            padding: 20px 24px;

            .text-total {
                @include font-size(16px);

                span {
                    font-weight: 600;
                }
            }

            .btn-success {
                margin-top: 12px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }
    }

    &.page-checkout {
        // Mobile
        .mobile-view {
            .table {
                .price {
                    margin-bottom: 6px;
                }
                .qty {
                    @include font-size(13px);
                    color: $secondary;
                }
            }
        }
    }
}

.toystore-footer.footer-cart {
    margin-top: 50px;
}
