.page-home {
    .toystore-carousel {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 30px;
        }

        .carousel .carousel-inner {
            border-radius: 4px;
            @include media-breakpoint-up(md) {
                border-radius: 14px;
            }
        }
    }

    .toystore-bestseller {
        margin-bottom: 20px;
    }

    .toystore-categories {
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }

        .wrap-categories {
            padding: 30px;
        }
    }

    .toystore-trending {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            margin-top: 40px;
        }
    }
}

.toystore-footer.footer-home {
    margin-top: 50px;
}
